@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fortune Teller</h1>
    <p class="lead">See what awaits you in the future. The Fortune Teller outputs no lies.</p>
    <p><a href="~/Customers/Create" class="btn btn-info btn-lg">Look if you Dare</a></p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
